<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pizzarestaurant">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pizza_home"
        android:supportsRtl="true"
        android:theme="@style/Theme.PizzaRestaurant"
        tools:targetApi="31">
        <activity
            android:name=".ui.detail_pizza.PizzaDetail"
            android:exported="false" />
        <activity
            android:name="com.example.pizzarestaurant.ui.menu_list_screen.MenuListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pizzarestaurant.ui.home_screen.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pizzarestaurant.ui.profile_screen.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pizzarestaurant.ui.order_detail.OrderDetailActivity"
            android:exported="false" />
    </application>

</manifest>